<div class="app-body" style="margin-top: 5%; margin-bottom: 5%;">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card">
              <div class="card-body">
                <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                  <!-- <img src="assets/img/brand/vp_logo.png" alt="vp_logo" class="center"> -->
                  <img src="assets/img/brand/logoTexto_digessp.png" class="img-fluid">
                  <hr>
                  <h5>Ingresa el código de verificación</h5>
                  <!-- <div *ngIf="loginError">
                        <alert type="danger">
                          {{errorMessage}}
                        </alert>
                    </div> -->
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Código de verificación" formControlName="codigo_verificacion"
                      [ngClass]="{ 'is-invalid': hasError('codigo_verificacion')}">
                    <div *ngIf="hasError('codigo_verificacion')" class="invalid-feedback">
                      <div *ngIf="getPasswordControl.codigo_verificacion.errors.required">Este campo es requerido</div>
                      <div *ngIf="getPasswordControl.codigo_verificacion.errors.minlength">El código debe tener al menos 6 dígitos</div>
                    </div>
                  </div>
                  <hr>
                  <h5>Crea una nueva contraseña</h5>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Contraseña" formControlName="password"
                      [ngClass]="{ 'is-invalid': hasError('password')}">
                    <div *ngIf="hasError('password')" class="invalid-feedback">
                      <div *ngIf="getPasswordControl.password.errors.required">Este campo es requerido</div>
                      <div *ngIf="getPasswordControl.password.errors.minlength">La contraseña debe tener al menos 8 caracteres
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Confirma contraseña"
                      formControlName="confirma_password" [ngClass]="{ 'is-invalid': hasError('confirma_password')}">
                    <div *ngIf="hasError('confirma_password')" class="invalid-feedback">
                      <div *ngIf="getPasswordControl.confirma_password.errors.required">Este campo es requerido</div>
                      <div *ngIf="getPasswordControl.confirma_password.errors.mustMatch">Las contraseñas deben coincidir</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 p-1">
                      <button type="button" class="btn btn-secondary btn-block" [routerLink]="['/login']"><i
                          class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Regresar</button>
                    </div>
                    <div class="col-sm-6 p-1">
                      <button type="submit" class="btn btn-secondary btn-block active ucla-blue font-white"
                        data-style="expand-right" [ladda]="isLoading">Actualizar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
