.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 45%;
}

.ucla-blue {
    background-color: #003B5C !important;
}

.ucla-gold {
    background-color: #FFB81C !important;
}

.ucla-blue-ligth {
    background-color: #8BB8E8 !important;
}

.ucla-blue-ligther {
    background-color: #DAEBFE !important;
}

.ucla-green {
    background-color: #00b862 !important;
}

.font-white {
    color: white !important;
}